@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './now-ui-kit.scss';

.btn-clear {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  &:hover,
  &:focus,
  &:active {
    background: none;
    box-shadow: none;
    color: inherit;
  }
}

.border-transparent {
  border-color: rgba(0, 0, 0, 0) !important;
}

.float-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.shadow-bold {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
}
