@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './now-ui-kit.scss';

.btn-clear {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  &:hover,
  &:focus,
  &:active {
    background: none;
    box-shadow: none;
  }
}
