@import 'node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  // background: #eef0f3;
  background: #800080; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffc0cb, #800080); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc0cb,
    #800080
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.layout {
  margin: 0 auto;
  max-width: 480px;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.bg-purbple {
  background: #800080;
  color: #fff;
  a {
    color: #fff;
  }
}
